
<div class="uk-flex uk-background-muted uk-margin uk-text-center uk-margin-remove" style="height: 100vh;background: url(assets/images/fondo.jpg);">
    <div class="uk-overlay-default uk-position-cover"></div>
    <div class="uk-margin-auto uk-margin-auto-vertical uk-width-1-2@s uk-card uk-card-default uk-card-body">
        <span class="uk-heading-large error uk-h1 uk-text-primary">404</span>
        <div class="uk-margin-large uk-text-danger uk-text-lead uk-text-bold">
            <span uk-icon="info"></span>
            <span class="uk-text-center">
                La pagina solicitada no se encontró
            </span>
        </div>
        <button routerLink="/home" class="uk-button uk-button-link">
        Regresar al menu principal
        </button>
    </div>
</div>