
<div class="uk-child-width-1-1@s uk-text-center uk-grid-small" uk-grid>
  <div *ngIf="peliculas.length == 0" class="uk-flex uk-background-muted uk-margin uk-text-center uk-margin-remove">
    <div
      class="uk-alert-primary uk-margin-auto uk-margin-auto-vertical uk-width-1-1@s uk-card uk-card-default uk-card-body uk-text-center"
      uk-alert>
      <p>
        Agrege peliculas a sus favoritos
      </p>
    </div>
  </div>
  <div *ngIf="peliculas.length != 0" class="uk-grid-small" uk-grid>
    <div class="uk-width-3-4 uk-margin-auto">
      <app-lista-peliculas [peliculas]="peliculas" [paginacion]="false" [carga]="cargar" [titulo]="titulo">
      </app-lista-peliculas>
    </div>
  </div>
</div>
